<h1>Welcome, Admin!</h1>
<%= link_to 'View All Lessons', lessons_path, class:"" %> <br/>
<%= link_to 'Create New Batch ', lessons_new_path, class:"" %> <br/>
<%= link_to 'View All Batches', batches_path, class:"" %> <br/>
<%= link_to 'Create New Batch', batches_new_path, class:"" %> <br/>
<%= link_to 'Students', students_path %>