<%= form_for @progress, url:progress_update_path(@progress) do |f| %>
	<p>
	   <%= f.label :username %> <br/>
	   <%= f.text_field :username %>
	</p> 

	<p>
	   <%= f.label :repo %> <br/>
	   <%= f.text_field :repo %>
	</p> 

	<p>
	   <%= f.submit "Update Progress" %> <br/>
	</p> 
<% end %>