<header id="header"> 
  <!-- NAVIGATION -->
    <nav id="nav-bar">
      <a class="navbar-brand mx-3" href="#"><b>Avion LMS</b></a>
    <!-- MENU TOGGLER -->
      <input type="checkbox" class="toggle-menu"> 
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <ul class="navigation">
        <% if admin_signed_in? %>

          <li class="nav-item">
            <%= link_to 'Home', admin_dashboard_path , class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Lessons', lessons_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Batches', batches_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Edit Profile', edit_admin_registration_path , class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Log out', destroy_admin_session_path, class:"nav-link", method: :delete %>
          </li>

        <% elsif student_signed_in? %>

          <li class="nav-item">
            <%= link_to 'Home', student_dashboard_path , class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Lessons', lessons_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Edit Profile', edit_student_registration_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Log out', destroy_student_session_path, class:"nav-link", method: :delete %>
          </li>

        <% else%>

          <li class="nav-item">
            <%= link_to 'Home', root_path , class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Log in', new_student_session_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign up', new_student_registration_path, class:"nav-link" %>
          </li>

        <% end %>

      </ul>
    </nav>
</header>