<h1>Lessons#index</h1>
<p>Find me in app/views/lessons/index.html.erb<p>
<div class="container mt-1 p-5">
  <table class="table table-light table-striped table-bordered table-hover" style="overflow-x:auto;">
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @lessons.each do |lesson| %>
      <tr>
        <td> <%= lesson.title %></td>
        <td> <%= lesson.content %></td>
        <td> <%= link_to "View", lesson_show_path(lesson)%> </td>
        <td> <%= link_to "Edit", lesson_edit_path(lesson)%> </td> 
        <td> <%= link_to "Delete", lesson_delete_path(lesson), :method => :Delete, data: {confirm: "Are you sure you want to delete this?"} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br/>
  <%= link_to "Back", :back, class:"btn btn-secondary"%>
</div>