<%= form_with scope:@lesson, url: lesson_create_path , local:true do |f| %>

  <p>
	   <%= f.label :title %> <br/>
	   <%= f.text_field :title %>
	</p> 

	<p>
	   <%= f.label :content %> <br/>
	   <%= f.text_field :content %>
	</p> 

	<p>
		<%= f.label :video_url %> <br/>
		<%= f.text_field :video %>
	</p>
	
	<p>
		<%= f.label :document_url %> <br/>
		<%= f.text_field :document_url %>
	</p>
	
	<p>
	   <%= f.submit "Create Lesson", class: 'btn' %> <br/>
	</p> 
<% end %>